<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">ManageApp
                </a>
            </li>
            <li class="nav-item active">
                <a href="/" class="nav-link">Back to menu
                </a>
            </li>
        </ul>
    </div>
</nav>
<h1 class="display-3 w-50 p-3" style="background-color: #eee;">All month calories:</h1>
<div class="w-50 p-3 " style="background-color: #eee;">
    <h2 class="display-3"><span th:text="${allCalories}"> Calories </span></h2>
</div>
</body>
</html>