<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body style="background-color:cornflowerblue;">

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">ManageApp
                </a>
            </li>
            <li class="nav-item active">
                <a href="/" class="nav-link">Back
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" >
    <tr th:if="${yourMeals.empty}">
        <td colspan="2"> No Meals Available </td>
    </tr>
    <div class="row">
        <div class="col-sm list-group-item list-group-item-primary">
            Id
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Name
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Amount
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Date
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Username
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Edit
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Delete
        </div>
    </div>
</div>

<div class="container" th:each="meal : ${yourMeals}">
    <div class="row">
        <div class="col-sm list-group-item " th:text="${meal.id}" >
            Id
        </div>
        <div class="col-sm list-group-item " th:text="${meal.name}">
            Name
        </div>
        <div class="col-sm list-group-item " th:text="${meal.amount}">
            Amount
        </div>
        <div class="col-sm list-group-item " th:text="${meal.date}">
            Date
        </div>
        <div class="col-sm list-group-item " th:text="${meal.userId}">
            UserId
        </div>
        <div class="col-sm list-group-item " >
            <a th:href="@{/edit/{id}(id=${meal.id})}">Edit</a>
        </div>
        <div class="col-sm list-group-item ">
            <a th:href="@{/delete/{id}(id=${meal.id})}">Delete</a>
        </div>

    </div>
</div>

<!--<table>
    <tbody>
    <tr th:if="${yourMeals.empty}">
        <td colspan="2"> No Meals Available </td>
    </tr>
    <tr th:each="meal : ${yourMeals}">
        <td><span th:text="${meal.id}"> Id </span></td>
        <td><span th:text="${meal.name}"> Name </span></td>
        <td><span th:text="${meal.amount}"> Amount </span></td>
        <td><span th:text="${meal.date}">Date</span></td>
        <td><span th:text="${meal.userId}">userId</span></td>
        <td><a th:href="@{/edit/{id}(id=${meal.id})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${meal.id})}">Delete</a></td>
    <tr></tr>
    </tr>
    </tbody>
</table>-->

</body>
</html>
