<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>


<body style="background-color:cornflowerblue;">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">ManageApp
                </a>
            </li>
            <li class="nav-item active">
                <a href="/" class="nav-link">Back
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" >
    <tr th:if="${meals.empty}">
        <td colspan="2"> No Meals Available </td>
    </tr>
    <div class="row">
        <div class="col-sm list-group-item list-group-item-primary">
            Id
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Name
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Amount
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Date
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Username
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Edit
        </div>
        <div class="col-sm list-group-item list-group-item-primary">
            Delete
        </div>
    </div>
</div>

<div class="container" th:each="meal : ${meals}">
    <div class="row">
        <div class="col-sm list-group-item " th:text="${meal.id}" >
            Id
        </div>
        <div class="col-sm list-group-item " th:text="${meal.name}">
            Name
        </div>
        <div class="col-sm list-group-item " th:text="${meal.amount}">
            Amount
        </div>
        <div class="col-sm list-group-item " th:text="${meal.date}">
            Date
        </div>
        <div class="col-sm list-group-item " th:text="${meal.userId}">
            UserId
        </div>
        <div class="col-sm list-group-item " >
            <a th:href="@{/edit/{id}(id=${meal.id})}">Edit</a>
        </div>
        <div class="col-sm list-group-item ">
            <a th:href="@{/delete/{id}(id=${meal.id})}">Delete</a>
        </div>

    </div>
</div>

<ul class="pagination justify-content-center">
    <ul class="pagination" th:if="${totalPages > 1}">
        <!--<div class="col-sm-2">
            Total Rows: [[${totalItems}]]
        </div>-->

        <li class="page-item">
            <li th:each="i: ${#numbers.sequence(1, totalPages)}">
                <a class="page-link" th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                <span class="page-link" th:unless="${currentPage != i}">[[${i}]]</span> <!--&nbsp; &nbsp;-->
            </li>
        </li>

        <li class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
            <span class="page-link" th:unless="${currentPage < totalPages}">Next</span>
        </li>

        <div class="page-item">
            <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
            <span class="page-link" th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </ul>
</ul>

    <!--<table>
        <tbody>
            <tr th:if="${meals.empty}">
                <td colspan="2"> No Meals Available </td>
            </tr>

            <tr th:each="meal : ${meals}">
                <td><span th:text="${meal.id}"> Id </span></td>
                <td><span th:text="${meal.name}"> Name </span></td>
                <td><span th:text="${meal.amount}"> Amount </span></td>
                <td><span th:text="${meal.date}">Date</span></td>
                <td><span th:text="${meal.userId}">userId</span></td>
                <td><a th:href="@{/edit/{id}(id=${meal.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${meal.id})}">Delete</a></td>
            <tr></tr>
            </tr>
        </tbody>
    </table>-->
</body>
</html>
