<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>index</title>

</head>
<body>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">Manage App
                </a>
            </li>
            <li class="nav-item active">
                <a href="/newMeal" class="nav-link">New meal
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Calories </a>
                <ul class="dropdown-menu">
                    <!--
                                        <li><a href="/all" class="dropdown-item">All meals</a></li>
                    -->
                    <li><a href="/dayCalories" class="dropdown-item">Today Calories</a></li>
                    <li><a href="/yesterdayCalories" class="dropdown-item">Yesterday Calories</a></li>
                    <li><a href="/allWeek" class="dropdown-item">All Week Calories</a></li>
                    <li><a href="/allMonth" class="dropdown-item">All Month Calories</a></li>
                </ul>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Meals </a>
                <ul class="dropdown-menu">
<!--
                    <li><a href="/all" class="dropdown-item">All meals</a></li>
-->
                    <li><a href="/allMeals" class="dropdown-item">All your meals</a></li>
                    <li><a href="/dayMeals" class="dropdown-item">Today meals</a></li>
                    <li><a href="/yesterdayMeals" class="dropdown-item">Yesterday meals</a></li>
                    <li><a href="/todayDetailsResults" class="dropdown-item">Meals details</a></li>
                    <li><a href="/todayCaloriesResults" class="dropdown-item">Meals calories</a></li>
                </ul>
            </li>

            <li class="nav-item active" sec:authorize="isAuthenticated()"  >
                <a th:href="@{/logout}" class="nav-link">Logout</a>
            </li>

        </ul>

        </ul>
    </div>
</nav>
<div class="mt-5">
<h2 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h2>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
