<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<section class="row justify-content-center">
<h1>Log in</h1>
</section>
<div class="mt-5">
<section class="container-fluid">
    <!-- row and justify-content-center class is used to place the form in center -->
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-4">
            <form th:action="@{/login}" method="post" class="form-container">
                <div th:if="${param.error}" class="alert alert-info" role="alert">
                    Invalid username or password
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <div class="form-group">
                <label for="username">Username</label>:
                <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
                </div>
                <div class="form-group">
                <label for="password">Password</label>:
                <input class="form-control" type="password" id="password" name="password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
            <div class="form-group">
                <span>You don't have an account yet ? <a href="/" th:href="@{/sign-up}">Sign up! Here</a></span>
            </div>
            </section>
        </section>
    </section>
</section>
</div>
</body>

</html>
