<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<section class="row justify-content-center">
    <h1>Sign up</h1>
</section>
<div class="mt-5">
    <section class="container-fluid">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-6 col-md-4">
                <form th:action="@{/register}" method="post" class="form-container">
<!--
                    <span th:if="${errorMessage}"  th:text="${errorMessage}">Error</span>
-->
                    <div th:if="${errorMessage}" class="alert alert-info" role="alert">
                        Account with this username already exist
                    </div>
                    <!--<p th:if="${#fields.hasErrors('username')}">Invalid Age</p>-->
                    <div class="form-group">
                        <label for="username">Login</label>:
                        <input class="form-control" type="text" id="username" name="username" autofocus="autofocus" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>:
                        <input class="form-control" type="password" id="password" name="password" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </form>
            </section>
        </section>
    </section>
    </section>
</div>
</body>

</html>
