<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="#" class="nav-link">ManageApp
                </a>
            </li>
            <li class="nav-item active">
                <a href="/" class="nav-link">Back
                </a>
            </li>
            <li class="nav-item active">
                <a href="/todayCalories" class="nav-link">Today All Calories
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" >
    <div class="row">
        <div class="col-sm list-group-item list-group-item-primary">Name</div>
        <div class="col-sm list-group-item list-group-item-primary">Calories</div>
    </div>
    <div class="alert alert-danger row " role="alert " th:if="${mealsCalories.empty}">
        No Meals Available
    </div>
</div>
<div class="container" th:each="meal : ${mealsCalories}">
    <!--        <h2 class="display-3"><span th:text="${meal}"> Calories </span> </h2>
    -->
    <div class="row">
        <div class="col-sm list-group-item " th:text="${meal.name}" >Name</div>
        <div class="col-sm list-group-item " th:text="${meal.calories}">Calories</div>
    </div>
</div>
</body>
</html>
